html {
  font-size: 62.5%;
  box-sizing: border-box;
  --color-primary: #37474f;
  --color-primary-dark: #263238;
  --color-primary-light: #546e7a;
  --color-primary-lighter: #b0bec5;
  --text-color: #fafafa;
  --link-color: #444444;
  --border-color: rgba(176, 190, 197, 0.5);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-color-dark: rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.movie-content {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 120rem;
  margin: 0px auto 7rem;
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.movie-poster {
  flex: 1 1 40%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}
.movie-img {
  max-height: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.8rem;
  padding: 10px;
  border-right: 5px solid;
  border-top: 5px solid;
  box-shadow: 0rem 2rem 5rem var(--shadow-color-dark);
  img {
    height: 556px;
    width: 370px;
  }

  //
  position: relative;
  &::after {
    content: "";
    position: absolute;
    margin: -20px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: #fff; /* to see where it is */
  }
}

.movie-title {
  font-size: 4rem;
  font-weight: 200;
  line-height: 1.2;
  color: var(--color-primary-dark);
  letter-spacing: -0.5px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.movie-subdata {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 5rem;
}

.movie-data {
  width: 100%;
  max-width: 60%;
  padding: 4rem;
  flex: 1 1 60%;
}
.movie-head {
  margin-bottom: 2rem;
}
.movie-tagline {
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--color-primary);
  font-size: 1.7rem;
  font-weight: 700;
}

.movie-stars {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 700;
  color: var(--color-primary);
}

.movie-left {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: auto;
}

.movie-right {
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-primary-lighter);
  font-size: 1.3rem;
}

.movie-fields {
  color: var(--color-primary-dark);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.movie-tags {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.movie-taxonomy {
  text-decoration: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-primary-light);
  text-transform: uppercase;
  padding: 0.5rem 0rem;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.movie-taxonomy:not(:last-child) {
  margin-right: 2rem;
}
.movie-taxonomy:active {
  transform: translateY(2px);
}
.movie-taxonomy:hover {
  transform: translateY(-3px);
}
.movie-description {
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--link-color);
  font-weight: 500;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .movie-content {
    flex-direction: column;
    max-width: 110rem !important;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 80em) {
  .movie-content {
    max-width: 110rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .movie-poster {
    max-width: 60%;
    flex: 1 1 60%;
  }
}

@media only screen and (max-width: 56.25em) {
  .movie-data {
    max-width: 100% !important;
    flex: 1 1 100%;
  }
}
@media only screen and (max-width: 80em) {
  .movie-data {
    padding: 2rem;
  }
}
